@media screen and (min-width: 1910px) {
  .form-logo {
    left: 44.7%;
  }
}

@media screen and (max-width: 1910px) {
  .form-logo {
    left: 41.7%;
  }
}

/*helper*/
.short {
  width: 40%;
}

.long {
  width: 100%;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.intro {
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro-box {
  width: 48%;
  /*display: inline-block;*/

  border: 1px solid red;
  height: 0%;
  padding-bottom: 55px;
}

.intro-box h3 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.form-logo {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -16%;
}

.signup-logo {
  position: absolute;
  top: 27%;
  left: 23%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}